<!doctype html>
<html lang="en" ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <title>Example</title>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <p><a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$broadcast">Event docs</a></p>

    <b>Using scope events:</b>
    <div ng-controller="ListenerController">
      Name: {{childName}}
      <div ng-controller="BroadcastController">
          <input ng-model="name">
          <button ng-click="changeName()">Change Name</button>
      </div>
    </div>
    <hr>
    <b>Using services to replicate the above functionality:</b>
    <div ng-controller="SvcWatchController">
      Name: {{childName}}
      <div ng-controller="SvcUpdateController">
          <input ng-model="name">
          <button ng-click="changeName()">Change Name</button>
      </div>
    </div>
    <hr>
    <b>Using services to bind to the same data:</b>
    <div ng-controller="SvcShare1Controller">
      Name: {{childPerson.name}}
      <div ng-controller="SvcShare2Controller">
          <input ng-model="person.name">
      </div>
    </div>
  </div>

  <script src="../lib/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="services1.js"></script>
  <script src="services2.js"></script>
</body>
</html>
