<!doctype html>
<html xmlns:backpacks-main="http://www.w3.org/1999/html">
    <head>
        <title>Workshop #2</title>
        <link src="../lib/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>

        <h3>index.html</h3>

        <p>some random scopeless angular expression {{'hello world'}}</p>

        <div ng-app="mainApp">
            <div>
                <p>main scoped angular expression {{'in the main module scope'}}</p>
                <div ng-controller="MainController as mainController">
                    <p>mainController.superAwesomeStuff: <input ng-model="mainController.superAwesomeStuff"></p>
                </div>
                <main-page></main-page>
            </div>

            <div>

                <div ng-controller="BackpacksController as bpCtrl">
                    <hr>
                    <h5>bpCtrl.backpacks</h5>
                    <pre>{{bpCtrl.backpacks}}</pre>
                    <hr>
                </div>

                <backpacks-tag param="{one:1,two:2,three:3}"></backpacks-tag>
                <backpacks-tag param="bpCtrl.backpacks"></backpacks-tag>

                <br><br><hr>
                <backpacks-table param="bpCtrl.backpacks"></backpacks-table>
                <hr>
            </div>
        </div>


        <!--
        <div>


            <section ng-controller="BackpackDataController as bpDataCtrl">
                <div>
                    <p ng-bind="bpDataCtrl.something"></p>
                </div>

                <h3>Backpacks:</h3>

                <div id="querySection">
                    <h4>Search</h4>
                    <input type="checkbox" ng-model="illestQuery"><span>Only the good backpacks?</span><br>
                </div>

                <img src="./spiffygif_30x30.gif" ng-hide="bpDataCtrl.backpacks">
                <p ng-hide="!bpDataCtrl.backpacks">Errors: {{bpDataCtrl.backpacksError}}</p>
                <pre style="height: 100px;overflow: scroll;" ng-hide="!bpDataCtrl.backpacks" ng-bind="bpDataCtrl.backpacks | filter:{illest:illestQuery}| json"></pre>

                <display-backpacks></display-backpacks>
            </section>

            <section ng-controller="PublicBackpackController">
                <h3>Public Backpacks:</h3>
                <public-backpacks></public-backpacks>
            </section>

        </div>
        -->

        <script src="../lib/angular/angular.js"></script>

        <script src="./components/main/main.js"></script>
        <script src="./components/backpacks/backpacks.js"></script>
    </body>
</html>